name: CD Pipeline

on:
  workflow_dispatch:

env:
  REGISTRY: docker.io

jobs:
  build-and-push:
    name: Build y push a Docker Hub
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
      short_sha: ${{ steps.vars.outputs.short_sha }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract short SHA
        id: vars
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Docker meta (tags)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/devsecops-app-nodejs
          tags: |
            type=raw,value=${{ github.sha }},enable=${{ true }}
            type=raw,value=sha-${{ steps.vars.outputs.short_sha }},enable=${{ true }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  update-manifest:
    name: Actualizar manifiesto Kubernetes
    runs-on: ubuntu-latest
    needs: build-and-push
    permissions:
     contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract short SHA
        id: sha
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Actualizar imagen en deployment.yaml
        run: |
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/devsecops-app-nodejs:${{ github.sha }}"
          sed -i "s|image: .*devsecops-app-nodejs:.*|image: ${IMAGE}|" k8s/deployment.yaml
          grep "image:" k8s/deployment.yaml

      - name: Commit y push del manifiesto
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/deployment.yaml
          git diff --staged --quiet || git commit -m "chore(cd): update image to ${{ github.sha }} [skip ci]"
          git push
